@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: 'Lato';
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header-container {
    margin: 0 auto;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    background-color: #E554731A;
    margin-bottom: 100px;
    padding-top: 50px;
}

.header-left-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header-left-content h1 {
    font-size: 3rem;
    font-weight: 900;
    color: #272727;
}

.header-left-content > p {
    color: #27272799;
    font-size: 1rem;
}

.header-img > img{
    width: 500px;
    height: 620px;
}


/* feature-container */

.main-container {
    display: flex;
    flex-direction: column;
    gap: 130px;
}

main h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

.feature-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.feature-title-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.feature-img-content {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.feature-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.feature-img > img {
    border-radius: 300px 300px 0px 0px;
    align-items: center;
}

.feature-img1 {
    background-color: rgba(167, 33, 98, 0.15);
    padding: 80px 40px 0px 40px;
    width: 260px;
    height: 340px;
}

.feature-img2 {
    background-color: rgba(5, 151, 160, 0.15);
    padding: 60px 25px 20px 25px;
    width: 290px;
    height: 340px;
}

.feature-img3 {
    background-color: rgba(71, 125, 17, 0.15);
    padding: 40px 35px 0px 35px;
    width: 270px;
    height: 380px;
}

a {
    color: #272727;
    font-size: 1.5rem;
    font-weight: 600;
}



/* service-container */

.service-container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 100px;
    border-radius: 10px;
    width: 1000px;
    height: 220px;
    background-color: rgba(39, 39, 39, 0.05);
    align-items: center;
    justify-content: center;
}

.service-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.service-content > img {
    width: 77px;
    height: 82.5px;
}



/* discount-container */

.discount-container {
    display: flex;
    background-color: #E554730D;
    gap: 150px;
    height: 620px;
    align-items: center;
    justify-content: center;
}

.discount-title-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    align-items: center;
}

span {
    color: #E55473;
}

.discount-title-content button {
    margin-top: 10px;
}




/* instagram-container */

.instagram-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 90%;
}

.instagram-img-contant {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.instagram-img-contant > img {
    width: 100%;
}


/* get-coupon-container */

.get-coupon-container {
    margin: 0 auto;
    background-image: url(./PNG-File/get-cupon-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    border-radius: 10px;
    height: 449px;
    align-items: center;
    justify-content: center;
}

form {

    align-items: center;
}

form > input {
    width: 500px;
    height: 60px;
    border-radius: 5px;
    border: none;
    padding-left: 20px;
}



/* footer-container */

footer {
    margin-top: 150px;
    background-color: #111010;
    height: 449px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

footer > h1 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 800;
}

footer > p {
    color: #FFFFFFE6;
    text-align: center;
}

.copy-right {
    color: #FFFFFF66;
}

p { 
    color: #27272799; 
    font-size: 1rem;
}

button {
    width: 150px;
    height: 60px;
    background-color: #E55473;
    font-size: 1.2rem;
    color: #fff;
    border: none;
    border-radius: 5px;
}